#id1 {
	width:415px;
	height:340px;
	position:absolute;
	top:21%;
	left:52%;
	background-color:#FFF;
	border:1px solid #FFF;
	border-radius: 4px;
}
#id2 {
	width:165px;
}
#id3 {
	width:280px;
	height:120px;
	position:absolute;
	top:11%;
	left:24%;
	color:#FFF;
}
#id4 {
	width:700px;
	height:150px;
	position:absolute;
	/*top:87%;*/
	top: 500px;
	left:25%;
}